.custom-alert{
    margin:1em 1em
}

/* buat custom kelas datepacker */


.datepicker{
  position: absolute;
  float: left;
  width: 100%;
  height: 70%;
  font-size: 12px;
  margin: auto;

}



/* buat custom datepacker di smartphone/handhope */
@media(min-width: 600px){
  .datepicker{
    width: 40%;
    margin: auto;
  }

}
